.tabs-container{
  .goods-list{
    padding: 0 5Px;
    .goods-item{
      display: flex;
      margin: 10Px 0;
      .goods-image{
        width: 70Px;
        height: 70Px;
        padding: 10Px 8Px 10Px 0;
      }
      .goods-box{
        flex: 1;
        font-size: 15Px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .goods-des{
          color: #999;
          font-size: 12Px;
        }
        .price-info{
          display: flex;
          justify-content: space-between;
          padding-right: 10Px;
          .price-rate{
            .now-price{
              color: #f55;
              margin-right: 5Px;
              font-size: 18Px;
            }
            .origin-price{
              color: #999;
              font-size: 12Px;
              text-decoration: line-through;
            }
          }
          .goods-number{
            .count-number{
              display: inline-block;
              text-align: center;
              width: 20Px;
              padding: 0 3Px;
            }
          }
        }
      }
    }
  }
}
